doctype html
html

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='description', content='Andrew Furusawa. Front End Developer')
        link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css')
        link(rel='stylesheet', type='text/css', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='main.css')

        title Andrew Furusawa

    body
        .intro
        header.intro-text
            h1 Andrew Furusawa
            p &mdash; Hi! I'm a front-end developer. &mdash;


        section.about-text

                h2 Who?
                p I'm just a front-end developer, aspiring UX designer/full-stack developer/system administrator. I love learning and applying front-end web technologies to create engaging, simple and elegant web applications, inside and out.

        .about

        .work
            .work__profile
                img(src='work.jpg')
            .work__description
                .work__title
                    h2 What I've Done
                .work__description__job
                    p
                        b Rhythm (2y)&nbsp;-&nbsp;
                        | HTML Email, Responsive/Adaptive, Jade, Sass/Less, jQuery, NodeJS, Bootstrap, Wordpress, HarpJS, MySQL, QA Testing, Grunt
                .work__description__job
                    p
                        b Valicore (1y)&nbsp;-&nbsp;
                        | NodeJS, Socket.IO, Jade, jQuery, CSS
                .work__description__job
                    p
                        b Rapid Consulting (8m)&nbsp;-&nbsp;
                        | Objective-C, iOS Apps, MySQL
                .work__description__job
                    p
                        b Arkham Technology (1y)&nbsp;-&nbsp;
                        | C#, Mobile Security, Android, QA Testing,
                .work__description__job
                    p
                        b SafeNet Inc. (8m)&nbsp;-&nbsp;
                        | Java, NetBeans, Test Software, Keyfill
                .work__social
                    a(href='https://www.linkedin.com/in/afurusawa', target="_blank")
                        i.fa.fa-linkedin

        .parallax

        footer
            .footer__social

            .footer__disclaimers
                span Made with&nbsp;
                    i.fa.fa-heart
                | &nbsp;by Yours Truly&nbsp;
                span using Pug, Sass, Express, Node, Grunt
                p &copy; 2016 Andrew Furusawa